/Homeworks/Homework6/*.txt
*.tar
*.gz
/ResearchAssignments/ResearchAssignment3/*.txt
/ResearchAssignments/ResearchAssignment5/*.txt
/ResearchAssignments/ResearchAssignment5/*.png
/ResearchAssignments/*.png
/ResearchAssignments/ResearchAssignment7/*.txt